html, body, h1 {
	margin: 0
}

html {
	font-family: 'Amatic SC', cursive;
}

a {
	color: #000;
	text-decoration: none;
}

a:active {
	color: #000;
}

nav {
	font-size: 1.5rem;
}

header {
	border-bottom: 2px solid #8BA3F0;
	height: 70px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	padding: 0 20px 10px;
	position: fixed;
	background-color: rgba(255,255,255,.7);
	width: 97vw;
}

header a {
	color: #272727;
	margin-top: 10px;
}

h1 {
	font-size: 1.5rem;
}

h1::first-letter {
	color: #8BA3F0;
}

.global-nav {
}

.global-nav ul {
	display: flex;
	list-style: none;
}

.global-nav ul li {
	padding: 10px 20px;
	transition: .3s;
}

.global-nav ul li a:hover {
	border-bottom: 1px solid #000;
	transition: .3s;
	padding-bottom: 5px;
}


.content {
	background-color: #fff;
}

section {
	box-sizing: border-box;
	font-size: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 5%;
}

.img-bg01 {
	background-image: url('img/top.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
}

.img-bg02 {
	background-image: url('img/top02.jpg');
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 300px;
}

.footer-nav ul {
	display: flex;
	list-style: none;
	justify-content: end;
}

.footer-nav ul li {
	padding: 10px 20px;;
}

footer {
	margin-top: 100px;
}

footer div {
	background-color: #8BA3F0;
	height: 40px;
	display: flex;
	align-items: center;
}

footer div p {	
	color: #fff;
	margin: 0 auto;
	padding: 0;
}